.toggleable-input-container{
    color: #212529;
    font-size: 16px;
    font-weight: normal;
}
.InputContainer>label{
    color: #212529;
    font-size: 16px;
    font-weight: normal;
}
.InputField{
    margin-top: 5px;
}
.InputField>input{
    background-color: #f9f9f9;
    border: 1px solid #E2E4E6;
    height: 46px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #4D5154;
    line-height: 2;
    width: 400px;
    padding: 10px;
}

.InputField>span>svg{
    position: relative;
    top: 4px;
    left: -35px;
    font-size: 20px;
    color: #4D5154;
}